<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.mapper.NewMusicMapper">
    <!-- 查询新歌 -->
    <select id="selectNewMusic" resultMap="songMusicDTO">
        SELECT
            `song`.`song_music_id`,`song`.`song_name`,
            `song`.`cover_image`,`song`.`song_url`,
            `song`.`duration`,`song`.`is_vip`,
            `song`.`play_count`,`song`.`is_new_music`,
            `song`.`type`
        FROM `song_music` `song`
        WHERE `song`.`is_new_music` = 1
        LIMIT 6;
    </select>
    <!-- 根据对应的歌曲id查询歌曲信息 -->
    <select id="selectByMusicId" resultMap="songMusicDTO">
        SELECT
            `song`.`song_music_id`,`song`.`song_name`,
            `song`.`cover_image`,`song`.`song_url`,
            `song`.`duration`,`song`.`is_vip`,
            `song`.`play_count`,`song`.`is_new_music`,
            `song`.`type`
        FROM `song_music` `song`
        WHERE `song`.`song_music_id` = #{music_id}
        LIMIT 6;
    </select>
    <!-- 根据歌曲类型查询新歌 -->
    <select id="selectMusicByTypeAnd" parameterType="string" resultMap="songMusicDTO">
        SELECT
            `song`.`song_music_id`,`song`.`song_name`,
            `song`.`cover_image`,`song`.`song_url`,
            `song`.`duration`,`song`.`is_vip`,
            `song`.`play_count`,`song`.`is_new_music`,
            `song`.`type`
        FROM `song_music` `song`
        WHERE `song`.`type` = #{type}
        AND is_new_music = 1
        LIMIT 6;
    </select>
    <!-- 根据music_id 查询对应的歌手 -->
    <resultMap id="songMusicDTO" type="com.fang.entity.dto.SongMusicDTO">
        <result property="songMusicId" column="song_music_id"/>
        <collection property="musicAndSingerList" ofType="com.fang.entity.dto.MusicAndSingerDTO"
                    column="song_music_id" select="com.fang.mapper.MusicAndSingerMapper.selectByMusicId">
            <id property="id" column="id"/>
            <result property="singerId" column="singer_id"/>
        </collection>
    </resultMap>
    <!-- 获得新歌类型 -->
    <select id="selectByType" resultType="com.fang.entity.dto.SongMusicDTO">
        SELECT DISTINCT `type` FROM `song_music` WHERE `is_new_music` = 1;
    </select>
</mapper>