<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.mapper.SwiperMapper">
    <select id="selectAll" resultType="com.fang.entity.Swiper">
        SELECT `swiper_id`,`swiper_url` FROM `swiper`;
    </select>
</mapper>